<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">Chat</div>
  </div>
  <ul class="messages"></ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Type your message here..." />
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>

<!-- <button onclick="notifyMe()">Notify me!</button> -->

<script type="text/javascript">
  // initiliaze centrifuge
  var centrifuge = new Centrifuge({
     url: "<%= ENV['CENTRIFUGAL_HOST'] %>",
     user: '<%= @user %>',
     timestamp: '<%= @timestamp %>',
     token: '<%= @token %>',
     debug: true
   });

   centrifuge.subscribe("public-channel", function(message) {
     console.log(message);
     if ('<%= @user %>' !== message.data.user) {
       incoming_msg('<%= @user %>', message.data.message);
     }
     // var notification = new Notification(message.data.message);
     // notification.onclick = function(event) {
       // window.focus();
     // }
   });

  centrifuge.connect();

  function notifyMe() {
    // Let's check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }

    // Let's check whether notification permissions have already been granted
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      var notification = new Notification("Hi there!");
    }

    // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== "denied") {
      Notification.requestPermission().then(function (permission) {
        // If the user accepts, let's create a notification
        if (permission === "granted") {
          var notification = new Notification("Hi there!");
        }
      });
    }

    // At last, if the user has denied notifications, and you
    // want to be respectful there is no need to bother them any more.
  }

  $('.send_message').click(function(){
    $.post("/chats", { message: $('.message_input').val(), user: '<%= @user %>' },
    function(data, status){
      outgoing_msg('<%= @user %>', $('.message_input').val());
      $('.message_input').val('');
    });
  });

  incoming_msg = function(user, message) {
    content = '<li class="message right appeared">'
        content += '<div class="avatar"></div>'
        content += '<div class="text_wrapper">'
          content += '<div class="text">' + message + '</div>'
        content += '</div>'
    content += '</li>'

    append_and_scroll(content);
  }

  outgoing_msg = function(user, message) {
    content = '<li class="message left appeared">'
        content += '<div class="avatar"></div>'
        content += '<div class="text_wrapper">'
          content += '<div class="text">' + message + '</div>'
        content += '</div>'
    content += '</li>'

    append_and_scroll(content);
  }

  append_and_scroll = function(content) {
    $('.messages')
      .append(content)
      .animate({ scrollTop: 88888888888 }, 1000);
  }
</script>
